{{#ui-toolbar class="toolbar-condominio" as |toolbar|}}
  {{#toolbar.actions}}
    {{#ui-button class="novo" accent=true raised=true fab=true}}
      {{ paper-icon "print" }}
    {{/ui-button}}
  {{/toolbar.actions}}

  {{#toolbar.content}}
    <span class="md-header">Relatório de Contatos</span>
  {{/toolbar.content}}
{{/ui-toolbar}}
<box class="content-operador">
  {{#paper-list class="lista-condominios striped"}}
    {{#paper-subheader}}
      <box xs="12">
      {{ paper-input
        class="nome"
        value=nome
        onChange=(action (mut nome))
        label="Pesquisa contatos..."
      }}
      </box>
    {{/paper-subheader}}
  <box class="page-section">
    {{#if model.nome }}
      <iframe id="documento" name="documento" src="http://localhost/{{ model.nome }}" class="fit-width"></iframe>
    {{else}}
    {{/if}}

  </box>
    {{/paper-list}}
</box>
